/* Font */

@font-face {
	font-family: 'lato';
	src: url('../fonts/Lato-Light.ttf');
}


/* Global */

*, html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    color: #555;
    background-color: #fff;
    font-family: 'lato';
}

body {
    margin-top: 85px;
    height: 100%;
}

h1 {
    font-size: 360%;
    font-family:'lato', Tahoma;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: -20px;
}

p {
	text-align: justify;
	font-size: 140%;
	text-align: justify;
}

a {
	text-decoration:none;
	color: #555;
	text-align: left;
}

a:hover {
	color: #ed1b24;
}

section {
    text-align: center;
}

section img {
    transition: 0.2s ease;
}

section img:hover {
    transform: scale(0.97);
    transition: 0.2s ease;
}

#jouer {
    padding: 105px 0 105px 0;
}

nav {
	z-index:100;
	font-family:  'lato', Tahoma;
	font-size: 115%;
	position: fixed;
	width: 100%;
	text-align: center;
	height: 78px;
	top: 0px;left: 0px;
	border-bottom: 3px solid #ed1b24;
    background-color: #fff;
}

nav ul li {
    display: inline;
    list-style: none;
    padding: 0 12px 0 12px;
    
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    transition: all 0.2s ease;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

nav ul li a:hover {
  color: #ed1b24;
  color: #ed1b24;
}

nav img {
    margin-top: 5px;
    width: 82px;
    transition: 0.2s ease;
}

nav img:hover {
    transform: scale(0.95);
    transition: 0.2s ease;
}

#navDroite {
    text-align: left;
}

#navGauche {
    text-align: right;
}

/* Footer */

footer {
	background-color: #ed1b24;
	color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#footer {
    position: relative;
    padding: 6px;
    z-index: 2;
    background-color: inherit;
}

footer p {
    text-align: center;
    margin: 1px;
}
